<div class="create postcard container hover">
		<div class="create postcard card">
			<div class="create postcard back face">
				<form class="create postcard textWrap">
					<textarea name="content" class="create postcard content" cols="30" rows="10"></textarea>
					<p class="create postcard text signature">Love, me</p>
				</form>
				<div class="create postcard addressWrap">
					<label for="name">To</label><br/>
					<input type="text" name="name">
					<label for="email">Email Address</label>
					<input type="email" name="email"/>
				</div>
			</div>
			<div class="create postcard front face">
				<img class="create postcard image" src="" alt=""/>
			</div>	
	 	</div>	
</div>

<div class="textstyle"></div>

<div class="photostyle"></div>

<div class=""></div>