<div class="clearfix options">
	<a href="#wall" title=""><h2>back</h2></a>
	<a href="" title=""><h2>archive</h2></a>
	<a href="" title="" value="delete"><h2>delete</h2></a>
</div>
<div id="displaypostcard" class="viewpostcard container">

</div>

<script type="text/javascript">
	$(window).resize(function(){
		var windowHeight =  $(window).height();
      	var windowWidth = $(window).width();
      	$("#displaypostcard>div").width(windowHeight*0.7*1.5+100);
      	$(".display.postcard.container").height(windowHeight*0.7).width(windowHeight*0.7*1.5);
	});
</script>