/* Universal Definition */

/*

purple: #ec008c
green: #8dc73f
light green: #9ddd46

*/
*, *:after, *:before{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

input{
	-webkit-appearance: none;
	border-radius: 0;
}

html,body, #main{
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	background: url(../img/retina_dust.png);
}

.footer{
	height: 10%;
}

#layout{
	min-height: 100%;
	position: relative;
}

.postcardList,
.compose.draft{
	padding-bottom: 30px;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
}

/* Typography */

h1,h2,a,p{
	font-family: 'Amatic SC', cursive;
	font-weight: 700;
	margin: 0;
	text-decoration: none;
},

h2{
	font-size: 1.2em;
}

.header a{
	color: #ec008c;
}

ul{
	list-style: none outside none;
}


.navigation{
	width: 270px;
	margin: 0 auto;
}

.navigation a{
	color: #000;
	font-size: 1.2em;
	line-height: 0.8em;
	display: block;
	float: left;
	text-align: center;
	border-right: 1px solid #999;
	margin: 5px;
	padding-right: 10px;
}

.navigation a:last-child{
	color: #ec008c;
	border-right: none;
}

footer{
	height: 40px;
}

/* login page */

.login.layout,
.signup.layout{
	width: 80%;
	margin: 0 auto;
	padding-bottom: 30px;
}

.login.header{
	position: relative;
}

.login.header h1{
	font-size: 4em;
	line-height: 1em;
}

.login.header a{
	font-size: 1.4em;
	margin-bottom: 30px;
	position: absolute;
	right: 0;
	bottom: 0;
}

.login.header{
	padding: 10px 0 30px 0;
}

.login form label{
	font-size: 1em;
}

.login form input{
	width: 100%;
	margin: 0 0 20px 0;
	display: block;
	border: 5px solid #CCC;
	padding:10px;
	font-size: 20px;
	background-color: white;
}

.login form input:focus{
	background-color: #fff;
	outline: none;
	border: 5px solid #ec008c; 
}

.login form button{
	margin-top: 10px;
	border:none;
	background: #8dc73f;
	width: 100%;
	padding:10px;
	color: #fff;
}

.login form button:hover{
	background: #9ddd46;
}

/* wall */

.wall.layout{
	width: 100%;
	height: 100%;
}

.wall.header{
	width: 90%;
	margin-left: 10%;
}

.wall.header h1{
	font-size: 3em;
	line-height: 1em;
}


#postcardList{
	overflow: visible;
	padding-left: 10%;
	margin-top: 2%;
	height: 75%;
}

.postcardWallList{
	margin:0;
	width: 10000px;
	padding: 0;
	height: 100%;
	position: relative;
	overflow: visible;
}

.wall ul.postcardWallList li{
	width: 240px;
	height: 180px;
	float: left;
	margin: 0 10px 10px 0;
	overflow: visible;
}


.postcard.container{
	position: relative;
	margin: 10px 4px;
	width: 90%;
	height: 90%;
	z-index: 1;
	-webkit-perspective: 1000;
}

.postcard.card{
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 0.5s ease-in;
	border: 4px solid white;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
	display: block;
}

.postcard.card.flip{
	-webkit-transform: rotateY(180deg);
}

.postcard.image{
	width: 100%;
	height: 100%;
}

.postcard.face {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
}

.postcard.back.face  {
	display: block;
	-webkit-transform: rotateY(180deg);
	box-sizing: border-box;
	padding: 10px;
	color: white;
	text-align: center;
	background-color: #aaa;
}

/* compose */

/* display */

.layout.viewpostcard .options{
	padding: 6% 0 15px 20px;
	margin-left: 10%;
}

.layout.viewpostcard .options a{
	color: #000;
	float:left;
	border-right: 1px #999 solid;
	line-height: 0.7em;
	padding: 0 10px 0 10px;
}

.layout.viewpostcard .options a:first-child{
	padding-left: 0;
}

.layout.viewpostcard .options a:last-child{
	color: red;
	border-right: none;
}

#displaypostcard{
	width: 100%;
	padding-left: 10%;
}

#displaypostcard>div{
	padding-left: 20px;
}

.viewpostcard.container {
    width: 100%;
}

.display.postcard.container{
	margin: 4px;
}
