<div class="display postcard container">
	<div  class="display postcard card">
		<div class="display postcard front face">
			<img class="display postcard image" src="/<%= photo.uri %>" alt=""/>
		</div>
		<div class="display postcard back face">
			<div class="display postcard textWrap">
				<p class="display postcard text"><%= body.content %></p>
			</div>
			<div class="display postcard addressWrap">
				<p class="display postcard text address">From:<br><%= uid_from.uname %>&lt<%= uid_from.mail %>&gt</p>
			</div>
		</div>	
 	</div>
</div>
	
