<div class="create options">
	<button class="send">Send</button>
	<button class="save">Save</button>
	<button class="discard">Discard</button>	
	<button class="flipback">Flip</button>
</div>
<div id="createPostcardWrap">
	<div class="create postcard container">
		<div class="create postcard card">
			<div class="create postcard front face clearfix">
				<form class="create postcard textWrap">
					<textarea name="content" class="create postcard content" cols="30" rows="10"></textarea>
					<p class="create postcard text signature">Love, me</p>
				</form>
				<div class="create postcard addressWrap">
					<label for="name"><h2>To</h2></label>
					<input type="text" name="name"><br>
					<label for="email"><h2>Email address</h2></label>
					<input type="email" name="email">
				</div>
			</div>
		<div class="create postcard back face">
			<button id="uploadimage"><h2>Add photo</h2></button>
			<input type="file" id="imageinput" accept="image/*" onchange="uploadPhoto(this.files);"/>
			<img class="create postcard image" src="" alt=""/>
		</div>
		</div>
	</div>
</div>

<div class="create textcontrol">
	<div class="textstyles"></div>
</div>
<div class="create photocontrol">
	<div class="photoeffects"></div>
</div>

<script type="text/javascript">

	function uploadPhoto(files){
		var photo = files[0];
		var reader = new FileReader();
		reader.onload = function(e){
			$(".create.postcard.image").attr('src', e.target.result);
			$("#uploadimage").addClass("small");
            $("#uploadimage").html("<h2>Change</h2>");
		};
		reader.readAsDataURL(photo);
	}
</script>