<div class="wall postcard container hover">
		<div class="wall postcard card">
			<% if(1) { %>
			<div class="wall postcard front face">
				<img class="wall postcard image" src="" alt=""/>
			</div>
			<div class="wall postcard back face">
				<p class="wall postcard text"><%= body %></p>
				<p class="wall postcard text signature">Love, me</p>
			</div>
			<% } else { %>
			<div class="wall postcard envelop front face">
				<p class="wall postcard text envelop">New unread postcard from:<br><%= body %></p>
			</div>
			<div class="wall postcard envelop back face">
				<img class="wall postcard envelop back image" src="" alt=""/>
			</div>
			<% } %>
	 	</div>	
</div>