<div class="display postcard container">
	<div  class="display postcard card">
		<div class="display postcard front face">
			<img class="display postcard image" src="http://ec2-54-251-19-5.ap-southeast-1.compute.amazonaws.com/mobile/assets/img/postcard_009.jpg" alt=""/>
		</div>
		<div class="display postcard back face">
			<div class="display postcard textWrap">
				<p class="display postcard text"><%= body.content %></p>
				<p class="display postcard text signature">Love, me</p>
			</div>
			<div class="display postcard addressWrap">
				<p class="display postcard text address">From:<br><%= uid_from.uname %>&lt<%= uid_from.mail %>&gt</p>
			</div>
		</div>	
 	</div>
</div>
	
