<div class="create postcard card">
				<form class="create postcard textWrap">
					<textarea name="content" class="create postcard content" cols="30" rows="10"></textarea>
					<p class="create postcard text signature">Love, me</p>
				</form>
				<div class="create postcard addressWrap">
					<label for="name">To</label><br>
					<input type="text" name="name"><br>
					<label for="email">Email Address</label><br>
					<input type="email" name="email">
				</div>
</div>


<a href="#compose/photo/0">Flip Back</a>