<div class="display postcard container hover">
		<div class="display postcard card">
			<div class="display postcard front face">
				<img class="display postcard image" src="" alt=""/>
			</div>
			<div class="display postcard back face">
				<div class="display postcard textWrap">
					<p class="display postcard text"><%= body.content %></p>
					<p class="display postcard text signature">Love, me</p>
				</div>
				<div class="display postcard addressWrap">
					<p class="display postcard text address">From:<br>asdf<br>Email:<br>ASDF@ASDF.com</p>
				</div>
			</div>	
	 	</div>	
</div>
