<canvas id="postcardcanvas"></canvas>
<button id="lomo">Lomo</button>
<button id="sepia">Sepia</button>
<button id="circlesmear">Smear</button>



<!-- UNDER CONSTRUCTION -->
<div style="width: 960; margin: 0 auto; position: relative">
	<div>
		<h2>Title goes here...</h2>
	</div>
	<div>
		<div class="row">
			<div style="float:left; width:300px; margin: 10px; background: red;display: inline-block;height: 200px;">
				test
			</div>
			<div style="float:left; width:300px; margin: 10px; background: red;display: inline-block;height: 200px;">
				test
			</div>
			<div style="width:300px; margin: 10px; background: red;display: inline-block;height: 200px;">
				test
			</div>
		</div>
		<div class="row">
			<div style="float:left; width:300px; margin: 10px; background: red;display: inline-block;height: 200px;">
				test
			</div>
			<div style="float:left; width:300px; margin: 10px; background: red;display: inline-block;height: 200px;">
				test
			</div>
			<div style="width:300px; margin: 10px; background: red;display: inline-block;height: 200px;">
				test
			</div>
		</div>
	</div>
	<div>
	</div>
</div>