<div class="wall postcard container hover" data-id="<%= pid %>">
		<a class="wall postcard card" data-id="<%= pid %>" href="#postcard/<%= pid %>">
			<% if(1) { %>
			<div class="wall postcard front face" data-id="<%= pid %>">
				<img class="wall postcard image" src="" alt="" data-id="<%= pid %>"/>
			</div>
			<div class="wall postcard back face" data-id="<%= pid %>">
				<p class="wall postcard text" data-id="<%= pid %>"><%= body.content %></p>
				<p class="wall postcard text signature" data-id="<%= pid %>">Love, me</p>
			</div>
			<% } else { %>
			<div class="wall postcard envelop front face" data-id="<%= pid %>">
				<p class="wall postcard text envelop" data-id="<%= pid %>">New unread postcard from:<br><%= body %></p>
			</div>
			<div class="wall postcard envelop back face" data-id="<%= pid %>">
				<img class="wall postcard envelop back image" src="" alt="" data-id="<%= pid %>"/>
			</div>
			<% } %>
	 	</a>	
</div>