<div class="create options">
	<button class="discard">Back</button>
	<button class="send">Send</button>
	<button class="save">Save</button>
</div>
<div id="createPostcardWrap" data-pid="<%= pid %>">
	<div class="create postcard container">
		<div class="create postcard card">
			<div class="create postcard front face style<% if(status==0){%><%= body.body_effect %><% } %> clearfix">
				<div class="create postcard backwrap">
				<form class="create postcard textWrap">
					<textarea name="content" class="create postcard content style<% if(status==0){%><%= body.body_effect %><% } %>" placeholder="Dear friend:"><% if(status==0){%><%= body.content %><% } %></textarea>
					<p class="create postcard text signature">Love, me</p>
				</form>
				<div class="create postcard addressWrap">
					<span class="stamp style<% if(status==0){%><%= body.body_effect %><% } %>">
						<span class="chop style<% if(status==0){%><%= body.body_effect %><% } %>"></span>
					</span>
					<label for="name">Send to:</label>
					<input type="text" name="name" placeholder="Name">
					<input type="email" name="email" placeholder="Email address">
				</div>					
				</div>
			</div>
			<div class="create postcard back face">
				<div class="create postcard backwrap">
				<button id="uploadimage" class="overlaybutton">Touch to add photo</button>
				<input type="file" id="imageinput" accept="image/*"/>
				<div id="canvasWrapper" data-image="<% if(status==0){%><%= body.body_effect %><% } %>">
					
				</div>
				</div>

			</div>
		</div>
		<button id="flipback" class="flipback overlaybutton small">Turn over</button>
	</div>
</div>

<div class="create textcontrol">
	<div class="textstyles">
		<button id="style1" class="textstyle">Style 1</button>
		<button id="style2" class="textstyle">Style 2</button>
		<button id="style3" class="textstyle">Style 3</button>
		<button id="style4" class="textstyle">Style 4</button>
	</div>
</div>
<div class="create photocontrol">
	<div class="photoeffects">
		<button id="preset-hermingway" class="preset-button" disabled="disabled">Hermingway</button>
		<button id="preset-hermingway" class="preset-button" disabled="disabled">Hermingway</button>
		<button id="preset-hermingway" class="preset-button" disabled="disabled">Hermingway</button>
		<button id="preset-hermingway" class="preset-button" disabled="disabled">Hermingway</button>
		<button id="preset-hermingway" class="preset-button" disabled="disabled">Hermingway</button>
	</div>
</div>