<div class="edit postcard container hover">
		<div id="edit postcard card">
			<div class="edit postcard front face">
				<img class="edit postcard image" src="" alt=""/>
			</div>
			<div class="edit postcard back face">
				<div class="edit postcard textWrap">
					<textarea class="edit postcard text" style="border:none; resize:none" placeholder="Enter content here..."></textarea> <!--this is just for testing only to see the effect-->
					<p class="edit postcard text">Love, me</p>
				</div>
				<div class="edit postcard addressWrap">
					<p class="edit postcard text address">From:<br><br>Email:<br></p>
				</div>
			</div>	
	 	</div>	
</div>
